body {
  background: #000000 url(../../assets/img/) no-repeat top
    center / cover;
  min-height: 100vh;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

}

.section .container h1, .section .container h2 {
  margin: 20px auto 60px;
}


.section {
  background-color: rgba(0, 0, 0, 0.744);
  width: 100%;
  padding: 40px 0 80px;
}

.title {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff,
    0 0 40px #ffc400, 0 0 80px #ffc400, 0 0 90px #ffc400, 0 0 100px #ffc400,
    0 0 150px #ffc400;
}

h1,
h2 {
  font-family: "Rye", serif;
  color: #ffc400;
  font-size: 50px;
  text-align: center;
  margin-bottom: 60px;
}

.text {
  font-family: "Rye", serif;
  text-align: center;
  line-height: 1.2em;
  font-size: 1em;
  color: #ffc400;
  font-size: 25px;
}

.img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin: 0 auto;
}

.image-link img {
  width: 200px;
  height: 200px;
  transition: all 0.8s;
}

.image-link:hover img {
  content: url(../../assets/img/fred-tatto.png);
  box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.7),
  0 0 40px #ffc400, 0 0 80px #ffc400, 0 0 90px #ffc400, 0 0 100px #ffc400,
  0 0 150px #ffc400;
  transition: all 0.8s;
}

.userHome-hola {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff,
  0 0 40px #ffc400, 0 0 80px #ffc400, 0 0 90px #ffc400, 0 0 100px #ffc400,
  0 0 150px #ffc400;
  margin-bottom: 40px;
  font-size: 50px;
}

.home__name {
  margin-bottom: 80px;
}

.buttonClass {
  background-color: #ffc400;
  color: rgb(31, 31, 31);
  border-radius: 30px;
  transition: 0.3s;
  margin: 2em auto;
  padding: 5px 25px;
  font-weight: 600;
  border-color: transparent;
}

.buttonClassClose {
  background-color: rgb(120, 120, 120);
  color: rgb(255, 255, 255);
  border-radius: 30px;
  border-color: transparent;
  transition: 0.3s;
  margin: 2em auto;
  padding: 10px 25px;
  font-weight: 500;
}

.buttonClassClose:hover {
  cursor: pointer;
  background-color: #323232;
  transition: 0.3s;
  border-color: transparent;
}

.buttonClass:hover {
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
  box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.7),
  1px 2px 4px 0px #fcb100,
  2px 4px 8px 0px #fcb100,
  2px 4px 16px 0px #fcb100;
  color: #fcb100;
  border-color: transparent;
}
