.header.navbar {
    background-color: rgb(0, 0, 0);

}

.header.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link, .navbar-brand {
    font-family: "Rye", serif;
    color: #ffbb00;
}

.logo-name {
    color: #ffc400;
    /* text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffbb00, 0 0 80px #ffbb00, 0 0 90px #ffbb00, 0 0 100px #ffbb00, 0 0 150px #ffbb00; */
}

